<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/common-noauth.css" />
		<title>Proto Chat </title>
	</head>
	<body>
		<header>
			<h1>Proto Chat</h1>
			<p>A very simple chat app</p>
		</header>
		<main>
			<div class="box" >
			
				<h3> Reset your password</h3>
		
				<form action="performResetPassword" name="resetPasswordForm" method="POST" novalidate >
				
					<div class="form-group" >
						<label for="password" >New Password</label>
						<input type="password" class="input-control" name="password" id="password"  placeholder="Password" required minlength="8" maxlength="50" data-validate="true" />
						<p class="field-error-message"></p>
					</div>
					
					<input type="hidden" name="token" th:attr="value=${token}" />
					
					<input type="submit" class="action-button" value="Change Password" >
				
				</form>
			</div>
			
		</main>
		
		<script src="js/resetpassword.js" type="text/javascript" ></script>
		<script src="js/validation.js" type="text/javascript" ></script>
	</body>
</html>